<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
    <ul>
    <% @users.each do |u| %>
        <li>
        <%= u.name %>
        <%= u.email %>
        </li>
    <% end %>
    </ul>
    </div>
  </div>
</div>