<% if !flash[:danger].nil? %>
  <div id="error_explanation" style="margin-top: 30px">
    <div class="alert alert-danger">
      The following errors were found with the attempted point submission:
      <ul>
    <% flash[:danger].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
    
  </div>
<% end %>