/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

.point{
  border-style: solid;
  border-width: 1px;
  margin: 5px 5px 5px 5px;
    
    
}

.panel-body  {
    word-break:break-all
}




.panel-thread {
  margin-left: 10px;
  border-left: dashed 1px #d3d3d3;

  
}


th{
  
  font-family: 'Monda', sans-serif;
  font-size: x-large;
  
}

.jumbo-text{
    
    font-family: 'Monda', sans-serif;
  font-size: 40px;
  text-align: center;
    
}

.badge{
    
    background-color: red; 
    
}

.panel-heading .badge {
    color: #dff0d8;
    background-color: red;
}

tr{
  
  
}

.showmore{
    
    margin-bottom: 10px;



    
}

.topic{
  
   font-size: large;
   
}

.clickable:hover{
 
   background-color: rgba(0, 0, 250, 0.04);
   cursor: pointer;
  
}

.tablewell{
  
  background-color: white;
  
}

.indexFoot{
    
    font-style: italic;
    margin-top: 5px;
    color: rgba(64, 64, 64, .5);
    
}

h2{
    
    text-align: center;
}

.col-left{
float: none;
margin: 0 auto;

border-style: solid;
border-width: 5px;
}


.pull-right{
   
    margin-right: 3px;
    
}

.hiddenCol{
    
    display: none;
}


.debate-title-1{
    
   display: inline;
   font-weight: bold;
   font-size: 29px;
    
}

.debate-title-2{
    
   display: inline;
   font-size: 29px;
    
}


.debate-body-1{
   display: inline;
   font-weight: bold;
   font-size: 15px;
    
}


.debate-body-2{
   display: inline;
   font-size: 15px;
    
}

.stats{
    
    float: right;
    font-size: 12px;
    
}

.left-stats{
    
    color: #ff4d4d;
    margin-top: 0;
    text-align: center;
    
}

.left-stats-1{
   
   font-weight: bold;
   font-size: 12px;
   padding-left: 0;
    
}

.right-stats{
    
    color: #4db8ff;
    margin-top: 0;
    text-align: center;
}

.right-stats-1{
   
   font-weight: bold;
   font-size: 12px;
    
}

.border{
    border-right: 1px solid #ddd;
}

.border-stats{
    border-right: 1px solid #ddd;
    padding-left: 0;
}

.border-stats-2{
    
    padding-right: 0;
}

inline{
    
    display: inline;
}

.divider-2{
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
    
    
}

col-sm-2{
    width: 10px;
}

#navbar{
    
   margin-right: 100px;
    
}

.btn-primary{
    
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.btn-group-1{
    
    float: right;
    
}

.float-right{
    
    float: right;
    margin-top:0px;
    margin-bottom:0px;
}

.btn{
    
    padding: 3px 6px;
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
    
}

.badge-red{
        display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #a94442;
    border-radius: 10px;
    
    
}
.badge-blue{
        display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #31708f;
    border-radius: 10px;
    
    
}

.panel-test{
    
    float: right;
    overflow: hidden;
    width: 300px;
    margin: 0;
    margin: 0 0 15px 0;
    position: relative;
}
.container{
    max-width: 100%;
    display: inline-block
}

.summary{
    
    float: left;
width: 728px;
margin: 0 0 0 0;
padding: 0;
    
}

.table-layout {
    display:table;
    width:100%;
   
    margin-right: 30px;
}
.table-layout .table-cell {
    padding-left: 15px;
    padding-right: 15px;
    display:table-cell;
  
}

.fixed-width-200 {
    width:310px;
    margin-right: 50px;
}

form {
    
    width: 5px;
    
    display: inline;
}

.pooltip {
    
}

.pooltiptext {
    margin-left: 10px;
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    border: solid;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.pooltip:hover .pooltiptext {
    visibility: visible;
}

.form-control .my-form-inline
{
   
}