/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

.point{
  border-style: solid;
  border-width: 1px;
  margin: 5px 5px 5px 5px;
    
    
}

.panel-body  {
    word-break:break-all
}




.panel-thread {
  margin-left: 10px;
  border-left: dashed 1px #d3d3d3;

  
}


th{
  
  font-family: 'Monda', sans-serif;
  font-size: x-large;
  
}

tr{
  
  
}

.showmore{
    
    margin-bottom: 10px;

    
}

.topic{
  
   font-size: large;
   
}

.clickable:hover{
 
   background-color: rgba(0, 0, 250, 0.04);
   cursor: pointer;
  
}

.tablewell{
  
  background-color: white;
  
}

.indexFoot{
    
    font-style: italic;
    margin-top: 5px;
    color: rgba(64, 64, 64, .5);
    
}

h2{
    
    text-align: center;
}

.col-left{
float: none;
margin: 0 auto;

border-style: solid;
border-width: 5px;
}


.pull-right{
   
    margin-right: 3px;
    
}

.hiddenCol{
    
    display: none;
}





inline{
    
    display: inline;
}

col-sm-2{
    width: 10px;
}

.showMore{
    
    
}